.mainLayout {
  background: #07090f;
  min-height: 100vh;
}

/* Desktop */
.mainLayoutContent {
  margin-left: 280px;
  min-height: 100vh;
  padding: 15px;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

/* Tablet */
@media (max-width: 992px) {
  .mainLayoutContent {
    margin-left: 85px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .mainLayoutContent {
    margin-left: 0;
    padding: 70px 15px 15px;
  }
}