.Servicesweoffer {
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    135deg,
    #edf4ff,
    #f8fbff,
    #eef6ff
  );
}

.Servicesweoffer-container {
  max-width: 1500px;
  margin: auto;
}

.Servicesweoffer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.Servicesweoffer-card {
  background: #fff;
  border-radius: 26px;
  padding: 20px;
  border: 1px solid #dbe5f1;
  position: relative;
  overflow: hidden;
  transition: all 0.35s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}


.Servicesweoffer-card:hover::before {
  opacity: 0.08;
}

.Servicesweoffer-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
}

.Servicesweoffer-cardTop {
  display: flex;
  align-items: center;
  gap: 14px;
}

.Servicesweoffer-icon {
  width: 58px;
  height: 58px;
  min-width: 58px;
  border-radius: 16px;
  background: var(--serviceColor);
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Servicesweoffer-cardTop h3 {
  flex: 1;
  margin: 0;
  color: #111827;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.Servicesweoffer-toggle {
  width: 40px;
  height: 40px;
  border: none;
  background: #f4f4f5;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.Servicesweoffer-toggle:hover {
  background: var(--serviceColor);
  color: white;
}

.Servicesweoffer-description {
  margin-top: 18px;
  color: #5b6473;
  font-size: 15px;
  line-height: 2;
}

.Servicesweoffer-expand {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}

.Servicesweoffer-expandActive {
  max-height: 200px;
  margin-top: 12px;
}

.Servicesweoffer-expand p {
  color: #374151;
  line-height: 1.8;
  font-size: 14px;
}

.Servicesweoffer-expandBtn {
  margin-top: 15px;
  border: none;
  background: transparent;
  color: var(--serviceColor);
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0;
}

.Servicesweoffer-expandBtn:hover {
  transform: translateX(3px);
}

@media (max-width: 1400px) {
  .Servicesweoffer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .Servicesweoffer-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .Servicesweoffer-cardTop h3 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .Servicesweoffer-grid {
    grid-template-columns: 1fr;
  }

  .Servicesweoffer-card {
    padding: 18px;
  }

  .Servicesweoffer-description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .Servicesweoffer {
    padding: 15px;
  }

  .Servicesweoffer-icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    font-size: 20px;
  }

  .Servicesweoffer-cardTop h3 {
    font-size: 17px;
  }

  .Servicesweoffer-toggle {
    width: 35px;
    height: 35px;
  }
}